@model QuickProFixer.ViewModels.FSRequestViewModel



<h3 class="text-center">Welcome @Model.FixerName to your Fixer Space</h3>
<br />

<h2> Rejected Requests </h2>

<hr />
<br />


<div class="container-fluid">
    @{
        @foreach (var request in @Model.RequestMiniTemplateViewModels)
        {

            <div class="col bg-light bg-opacity-50">
                @await Html.PartialAsync("_RequestThumbPartial", request)

               
                <br/>
                <hr />
            </div>

        }
    }

</div>